*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C2D2E;
    height: 100vh;
}

body{
    margin: 20% auto;
}

.case{
    display: none;
}

.switch{
    display: block;
    width: 220px;
    height: 120px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 60px;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
}

.bouton{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 8px #111, inset 0 0px 8px #c5c5c5;
    cursor: pointer;
}

.case:checked + .switch{
    background-color: lightgreen;
}

.case:checked + .switch .bouton{
    transform: translateX(100px);
}
